* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f7fafc;
    font-size: 1rem;
}

.container {
    max-width: 1218px;
    margin: auto;
    padding: 0 12px;
}

.header {
    margin: 20px auto;
}

.title {
    text-align: center;
    font-size: 3.75rem;
    font-weight: 800;
    color: #1A202C;
    line-height: 60px;
}

.text {
    text-align: center;
    font-size: 1.25rem;
    line-height: 30px;
    color: #1A202C;
}

.team {
    margin-bottom: 60px;
    position: relative;
    text-align: center;
}

.title_hidden {
    position: absolute;
    left: -99999999999px;
}

.employee {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin-bottom: 20px;
}

.employee__photo {
    display: block;
    margin: auto;
    width: 160px;
    border-radius: 100%;
}

.title_bold {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 21px;
}

.text_semibold {
    font-size: 1rem;
    line-height: 18px;
    font-weight: 600;
    color: #718096;
}

.text_size16 {
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
    color: #4A5568;
    margin-bottom: 16px;
}

.social-links {
    text-align: center;
}

.social-links__icon {
    display: inline-block;
    width: 16px;  
}

.social-links__icon:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    .header {
        width: 500px;
        margin: 50px auto;
    }

    .team {
        margin-bottom: 90px;
    }

    .employee {
        margin-bottom: 50px;
        width: 45%; 
    }
}

@media (min-width: 1024px) {
    .container {
        padding: 0;
    }

    .header {
        width: 677px;
        margin: 80px auto;
    }

    .team {
        margin-bottom: 120px;
    }

    .employee {
        display: block;
        float: left;
        width: 28%;
        margin-right: 8%;
        margin-bottom: 80px;
    }

    .employee_no-right-margin {
        margin-right: 0;
    }
}